html,
body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
}

.section {
    padding: 40px;
  }
  
  .section-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .portfolio-section {
    padding: 2rem;
    text-align: center;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    justify-items: center;
  }
  
  .project-card {
    width: 100%;
    max-width: 300px;
  }
  
  .white-outline {
    border-color: white !important;
  }
  